<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">  
 
  <title>Movie App</title>
  <link rel="stylesheet" href="../bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

</head>

<body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand title" href="/"><i class="fas fa-film"></i> Movie Lists</a>
        </div>
      </div>
</nav>

  <section class="sidenav">
      <form id='listForm' method="POST">
        <input id='createList' name='createList' type="text" maxlength="64" placeholder="Create a List...">
        <button type="submit" aria-label="Create list" style="Display: none;"></button>
      </form>

      <ul id="yourLists">
        {{#each listArr}}
          <li>
            <form id='retrieveList' action="/"  method="POST">
              <input type="hidden" name="retrieveList" value="{{this}}">
              <button class='List-Select' type="submit">{{ this }}</button>
            </form>
            <form id='removeList' action="/"  method="POST">
              <input type="hidden" name="removeList" value="{{this}}">
              <button class='List-Remove' type="submit" aria-label="Remove List"><i class="fas fa-minus"></i></button>
            </form>
          </li>
        {{/each}}
      </ul>
  </section>
    
  <div class="container">
    <div class="jumbotron">
      <h3 class="text-center">Search For Any Movie</h3>
      <form id='searchForm'>
        <input id='searchTerm' type="text" maxlength="64" placeholder="Search for movies...">
        <button type="submit" aria-label="Search movies"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div>



  <span id="activeList" class="activeListName">{{activeList}}</span>
  <div id='output'></div>
  <iframe id="uploader_iframe" name="uploader_iframe" style="display: none;"></iframe>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
    listArr = '{{listArr}}';
    moviesInList = '{{moviesInList}}';
    activeList = '{{activeList}}';
    output = '{{output}}';    
  </script>       
  <script src="/js/getMovieInfo.js"></script>    
  <script src="/js/getSearchResults.js"></script>
  <script src="/js/getList.js"></script>


</body>
</html>
