<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--   <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">  
 -->  <title>Movie App</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>

<body>

  <section class="sidenav">
      <h3><i class="fas fa-film"></i> Movie Lists </h3>

      <form id='listForm' method="POST">
        <input id='createList' name='createList' type="text" maxlength="64" placeholder="Create a List...">
        <button type="submit" aria-label="Create list"><i class="fas fa-pencil-alt"></i></button>
      </form>

      <form id='searchForm'>
        <input id='searchTerm' type="text" maxlength="64" placeholder="Search for movies...">
        <button type="submit" aria-label="Search movies"><i class="fa fa-search"></i></button>
      </form>

      <ul id="yourLists">
        {{#each listArr}}
          <li>
            <form id='listSelect' action="/"  method="POST">
              <input type="hidden" name="listSelect" value="{{this}}">
              <button class='List-Select' type="submit">{{ this }}</button>
            </form>
            <form id='listRemove' action="/"  method="POST">
              <input type="hidden" name="listRemove" value="{{this}}">
              <button class='List-Remove' type="submit" aria-label="Remove List"><i class="fas fa-minus"></i></button>
            </form>
          </li>
        {{/each}}
      </ul>

  </section>

  <span class="activeListName">{{activeList}}</span>
  <div id='output'></div>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
    listArr = '{{listArr}}';
    moviesArr = '{{moviesArr}}';
    activeList = '{{activeList}}';
    output = '{{output}}';    
  </script>   
  <script src="/js/main.js"></script> 
  <script>
    getMovie();
  </script> 
 
</body>
</html>